/* Font hiện tại: Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Color */
    --body-color: #fff;
    --primary-color: #fff;
    --sidebar-dask-color: #F8F8F8;
    --primary-color: #fff;
    --toggle-color: #ddd;
    --text-color: #4d4d4d;
    --toggle-color: #695cfe;
    --task-name-clicked-color: #2bc3ff;
    --scrollbar-thumb-color: #d0d0d0;
    /* Transition */
    --tran-02: all 0.2 ease;
    --tran-03: all 0.3 ease;
    --tran-04: all 0.4 ease;
    --tran-05: all 0.5 ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    min-height: 100vh;
    width: 100%;
    overflow-y: hidden;
}

/* Navbar */
.navbar {
    display: flex;
    height: 50px;
    top: 0;
    background-color: #ffffff80;
    margin-left: 270px;
    padding-left: 10px;
    justify-content: space-between;
    align-items: center;
}

    .navbar .nav-left {
        display: flex;
        align-items: center;
        height: 30px;
        width: 30vh;
        margin-left: 40px;
        padding: 5px;
        background-color: var(--body-color);
        border-radius: 50px;
    }

        .navbar .nav-left .search-input {
            border: none;
            outline: none;
            background: transparent;
            font-size: 14px;
            align-content: center;
        }

    .navbar .nav-right a {
        margin-left: 10px;
        text-decoration: none;
        color: black; /* Đổi màu chữ nếu cần */
    }

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 270px;
    background: var(--body-color);
    border-radius: 0 5px 5px 0;
    padding: 10px 5px 5px 0;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
    border-radius: 10px;
}

.sidebar header {
    position: relative;
}

.sidebar .profile-detail,
.sidebar .profile-detail .profile-content {
    color: #000000;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    padding: 10px 15px 5px 0;
    margin: 10px 0 15px 10px;
    text-decoration: none;
    list-style: none;
}



/* .sidebar header .profile-detail .toggle {
    color: #fff;
    font-size: 22px;
    position: absolute;
    top: 25%;
    right: -35px;
    height: 25px;
    width: 25px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--toggle-color);
} */

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
}

.sidebar .profile-detail .profile-text .job {
    font-size: 16px;
    font-weight: 400;
    color: #A4A4A4;
}

.profile-detail .profile-text .name {
    font-size: 20px;
    font-weight: 500;
}




.dashboard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--sidebar-dask-color);
    padding: 10px 35px 10px 15px;
    margin: 0 5px 10px 0;
    box-sizing: border-box;
    border-radius: 0 5px 5px 0;
    color: black;
    /*align-items: left;*/
    text-decoration: none;
}

    .dashboard img {
        width: 30px;
        height: 30px;
        filter: contrast(50%);
    }

    .dashboard span {
        color: black;
        text-align: center;
        font-size: 25px;
        font-weight: 550;
        filter: contrast(50%);
    }

/* SCROLLBOX */

.scrollbox {
    overflow: auto;
    visibility: hidden;
    padding: 0;
}

    .scrollbox-inner,
    .scrollbox:hover {
        visibility: visible;
    }

.scrollbox-inner {
    font-size: 16px;
}


    .sidebar .scrollbox .scrollbox-inner .nav_list .side-title {
        color: black;
        font-size: 18px;
        font-weight: 500;
        margin: 20px 0px 5px 10px;
        font-weight: 500;
    }

.sidebar ul {
    margin-top: 20px;
}

    .sidebar ul .task-name {
        /* background-color: #695cfe; */
        position: relative;
        height: 40px;
        width: 95%;
        margin-left: 5px;
        list-style: none;
        line-height: 50px;
    }

.sidebar .task-name a {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 450;
    /* display:  flex; */
    align-items: center;
    margin-left: 5%;
    padding-right: 5%;
    text-decoration: none;
}

    .sidebar .task-name a .links-name {
        color: var(--text-color);
        font-weight: 400;
        font-size: 14px;
    }


.vertical-bar {
    position: absolute;
    top: 0;
    width: 5px;
    height: 0;
    background-color: var(--toggle-color);
    display: none;
    transition: var(--tran-03);
}

.sidebar ul .task-name:hover .vertical-bar,
.sidebar ul .task-name.clicked .vertical-bar {
    display: block;
    height: 100%;
}

.sidebar ul .task-name.clicked .vertical-bar {
    background-color: var(--task-name-clicked-color);
}


/* Icons */
.sidebar .task-name a span {
    align-items: center;
}

.icons {
    font-size: 15px;
    margin-left: 5%;
    margin-right: 20px;
    background-color: #F8F8F8;
    border: none;
    border-radius: 20%;
    padding: 3px;
}

/* main-content */
.main-content {
    margin:50px 10px 10px 290px;
    width: 100vh;
    height: 100vh;
}

.Emp-managerment{
    background-color:none;
}
/*Bảng quản lý nhân viên emp-table*/
.emp-table {
    border-collapse: separate;
    display: grid;
    background-color: #f7f7f7;
}

thead {
    background-color: #ddd;
}

tbody tr {
    background-color: #fff;
}

    tbody tr:nth-child(even) {
        background-color: #f7f7f7;
        border-bottom: 1px solid #ddd;
    }

