@page
@model HRMManagement.Views.Employee.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>EmployeesViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EmployeesViewModel.ID" />
            <div class="form-group">
                <label asp-for="EmployeesViewModel.HoDem" class="control-label"></label>
                <input asp-for="EmployeesViewModel.HoDem" class="form-control" />
                <span asp-validation-for="EmployeesViewModel.HoDem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeesViewModel.Ten" class="control-label"></label>
                <input asp-for="EmployeesViewModel.Ten" class="form-control" />
                <span asp-validation-for="EmployeesViewModel.Ten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeesViewModel.NgaySinh" class="control-label"></label>
                <input asp-for="EmployeesViewModel.NgaySinh" class="form-control" />
                <span asp-validation-for="EmployeesViewModel.NgaySinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeesViewModel.GioiTinh" class="control-label"></label>
                <input asp-for="EmployeesViewModel.GioiTinh" class="form-control" />
                <span asp-validation-for="EmployeesViewModel.GioiTinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeesViewModel.CCCD" class="control-label"></label>
                <input asp-for="EmployeesViewModel.CCCD" class="form-control" />
                <span asp-validation-for="EmployeesViewModel.CCCD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeesViewModel.DiaChi" class="control-label"></label>
                <input asp-for="EmployeesViewModel.DiaChi" class="form-control" />
                <span asp-validation-for="EmployeesViewModel.DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeesViewModel.SDT" class="control-label"></label>
                <input asp-for="EmployeesViewModel.SDT" class="form-control" />
                <span asp-validation-for="EmployeesViewModel.SDT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeesViewModel.Email" class="control-label"></label>
                <input asp-for="EmployeesViewModel.Email" class="form-control" />
                <span asp-validation-for="EmployeesViewModel.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeesViewModel.QueQuan" class="control-label"></label>
                <input asp-for="EmployeesViewModel.QueQuan" class="form-control" />
                <span asp-validation-for="EmployeesViewModel.QueQuan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeesViewModel.NgayTuyenDung" class="control-label"></label>
                <input asp-for="EmployeesViewModel.NgayTuyenDung" class="form-control" />
                <span asp-validation-for="EmployeesViewModel.NgayTuyenDung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeesViewModel.AnhProfile" class="control-label"></label>
                <input asp-for="EmployeesViewModel.AnhProfile" class="form-control" />
                <span asp-validation-for="EmployeesViewModel.AnhProfile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeesViewModel.IDViTri" class="control-label"></label>
                <input asp-for="EmployeesViewModel.IDViTri" class="form-control" />
                <span asp-validation-for="EmployeesViewModel.IDViTri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeesViewModel.IDChucVu" class="control-label"></label>
                <input asp-for="EmployeesViewModel.IDChucVu" class="form-control" />
                <span asp-validation-for="EmployeesViewModel.IDChucVu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeesViewModel.IDPhongBan" class="control-label"></label>
                <input asp-for="EmployeesViewModel.IDPhongBan" class="form-control" />
                <span asp-validation-for="EmployeesViewModel.IDPhongBan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
