@page
@model HRMManagement.Views.Employee.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Nhanvien</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Nhanvien.Id" />
            <div class="form-group">
                <label asp-for="Nhanvien.HoDem" class="control-label"></label>
                <input asp-for="Nhanvien.HoDem" class="form-control" />
                <span asp-validation-for="Nhanvien.HoDem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nhanvien.Ten" class="control-label"></label>
                <input asp-for="Nhanvien.Ten" class="form-control" />
                <span asp-validation-for="Nhanvien.Ten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nhanvien.NgaySinh" class="control-label"></label>
                <input asp-for="Nhanvien.NgaySinh" class="form-control" />
                <span asp-validation-for="Nhanvien.NgaySinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nhanvien.GioiTinh" class="control-label"></label>
                <input asp-for="Nhanvien.GioiTinh" class="form-control" />
                <span asp-validation-for="Nhanvien.GioiTinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nhanvien.Cccd" class="control-label"></label>
                <input asp-for="Nhanvien.Cccd" class="form-control" />
                <span asp-validation-for="Nhanvien.Cccd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nhanvien.DiaChi" class="control-label"></label>
                <input asp-for="Nhanvien.DiaChi" class="form-control" />
                <span asp-validation-for="Nhanvien.DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nhanvien.Sdt" class="control-label"></label>
                <input asp-for="Nhanvien.Sdt" class="form-control" />
                <span asp-validation-for="Nhanvien.Sdt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nhanvien.Email" class="control-label"></label>
                <input asp-for="Nhanvien.Email" class="form-control" />
                <span asp-validation-for="Nhanvien.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nhanvien.QueQuan" class="control-label"></label>
                <input asp-for="Nhanvien.QueQuan" class="form-control" />
                <span asp-validation-for="Nhanvien.QueQuan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nhanvien.NgayTuyenDung" class="control-label"></label>
                <input asp-for="Nhanvien.NgayTuyenDung" class="form-control" />
                <span asp-validation-for="Nhanvien.NgayTuyenDung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nhanvien.AnhProfile" class="control-label"></label>
                <input asp-for="Nhanvien.AnhProfile" class="form-control" />
                <span asp-validation-for="Nhanvien.AnhProfile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nhanvien.IdviTri" class="control-label"></label>
                <select asp-for="Nhanvien.IdviTri" class="form-control" asp-items="ViewBag.IdviTri"></select>
                <span asp-validation-for="Nhanvien.IdviTri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nhanvien.IdchucVu" class="control-label"></label>
                <select asp-for="Nhanvien.IdchucVu" class="form-control" asp-items="ViewBag.IdchucVu"></select>
                <span asp-validation-for="Nhanvien.IdchucVu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nhanvien.IdphongBan" class="control-label"></label>
                <select asp-for="Nhanvien.IdphongBan" class="form-control" asp-items="ViewBag.IdphongBan"></select>
                <span asp-validation-for="Nhanvien.IdphongBan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
