@model HRMManagement.Models.UngVienViewModel

@{
    ViewData["Title"] = "View";
}

<h4>Cập nhật</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="HoDem" class="control-label"></label>
                <input asp-for="HoDem" class="form-control" />
                <span asp-validation-for="HoDem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ten" class="control-label"></label>
                <input asp-for="Ten" class="form-control" />
                <span asp-validation-for="Ten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgaySinh" class="control-label"></label>
                <input asp-for="NgaySinh" class="form-control" />
                <span asp-validation-for="NgaySinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GioiTinh" class="control-label"></label>
                <input asp-for="GioiTinh" class="form-control" />
                <span asp-validation-for="GioiTinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cccd" class="control-label"></label>
                <input asp-for="Cccd" class="form-control" />
                <span asp-validation-for="Cccd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label"></label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sdt" class="control-label"></label>
                <input asp-for="Sdt" class="form-control" />
                <span asp-validation-for="Sdt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QueQuan" class="control-label"></label>
                <input asp-for="QueQuan" class="form-control" />
                <span asp-validation-for="QueQuan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayUngTuyen" class="control-label"></label>
                <input asp-for="NgayUngTuyen" class="form-control" />
                <span asp-validation-for="NgayUngTuyen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkHoSo" class="control-label"></label>
                <input asp-for="LinkHoSo" class="form-control" />
                <span asp-validation-for="LinkHoSo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPhongVan" class="control-label"></label>
                <input asp-for="IdPhongVan" class="form-control" />
                <span asp-validation-for="IdPhongVan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayPhongVan" class="control-label"></label>
                <input asp-for="NgayPhongVan" class="form-control" />
                <span asp-validation-for="NgayPhongVan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NguoiPhongVan" class="control-label"></label>
                <input asp-for="NguoiPhongVan" class="form-control" />
                <span asp-validation-for="NguoiPhongVan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenNguoiPhongVan" class="control-label"></label>
                <input asp-for="TenNguoiPhongVan" class="form-control" />
                <span asp-validation-for="TenNguoiPhongVan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GhiChu" class="control-label"></label>
                <input asp-for="GhiChu" class="form-control" />
                <span asp-validation-for="GhiChu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KetQua" class="control-label"></label>
                <input asp-for="KetQua" class="form-control" />
                <span asp-validation-for="KetQua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTuyenDung" class="control-label"></label>
                <input asp-for="IdTuyenDung" class="form-control" />
                <span asp-validation-for="IdTuyenDung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayDeNghi" class="control-label"></label>
                <input asp-for="NgayDeNghi" class="form-control" />
                <span asp-validation-for="NgayDeNghi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThongTinChiTiet" class="control-label"></label>
                <input asp-for="ThongTinChiTiet" class="form-control" />
                <span asp-validation-for="ThongTinChiTiet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdviTri" class="control-label"></label>
                <input asp-for="IdviTri" class="form-control" />
                <span asp-validation-for="IdviTri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenVitri" class="control-label"></label>
                <input asp-for="TenVitri" class="form-control" />
                <span asp-validation-for="TenVitri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTaCv" class="control-label"></label>
                <input asp-for="MoTaCv" class="form-control" />
                <span asp-validation-for="MoTaCv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MucLuongCoBan" class="control-label"></label>
                <input asp-for="MucLuongCoBan" class="form-control" />
                <span asp-validation-for="MucLuongCoBan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayDang" class="control-label"></label>
                <input asp-for="NgayDang" class="form-control" />
                <span asp-validation-for="NgayDang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HetHan" class="control-label"></label>
                <input asp-for="HetHan" class="form-control" />
                <span asp-validation-for="HetHan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrangThai" class="control-label"></label>
                <input asp-for="TrangThai" class="form-control" />
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdphongBan" class="control-label"></label>
                <input asp-for="IdphongBan" class="form-control" />
                <span asp-validation-for="IdphongBan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
