<head>
    <title>ChatGPT Chatbox</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/js/chatbox.js">
</head>
<body>
    <div class="container">
        <div id="chatbox" style="height: 400px; overflow-y: scroll;"></div>
        <input type="text" id="messageInput" placeholder="Type a message...">
        <button onclick="sendMessage()">Send</button>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="scripts/chat.js"></script>
</body>