@using Microsoft.AspNetCore.Identity

@*@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager *@

<div>
    <a asp-area="" asp-controller="Nhanvien" asp-action="Details" class="profile-detail">
        <div class="profile-content">
            <img src="" alt="Profile Image" class="profile-image">
            <div class="profile-text">
                <div id="profile-name" class="text name"></div>
                <div id="profile-job" class="text job"></div>
            </div>
        </div>
        <span class="material-symbols-outlined">
            more_horiz
        </span>
    </a>
</div>