@{
    List<Object> menuItems = new List<Object>();

    menuItems.Add(new
    {
        text = "Chấm công",
        separator = true,
    });

    menuItems.Add(new
    {
        text = "Sự tham dự",
        url = "#",
        iconCss = "fa-solid fa-box",
    });
    menuItems.Add(new
    {
        text = "Bảng chấm công",
        url = "#",
        iconCss = "fa-solid fa-folder-closed",
    });
    menuItems.Add(new
    {
        text = "Tóm tắt hằng ngày",
        iconCss = "fa-solid fa-arrow-right-arrow-left",
        url = "/Transaction"
    });

    menuItems.Add(new
    {
        text = "Nghỉ phép & Vắng",
        separator = true,
    });

    menuItems.Add(new
    {
        text = "Yêu cầu nghỉ phép",
        url = "#",
        iconCss = "fa-solid fa-box",
    });
    menuItems.Add(new
    {
        text = "Lịch vắng mặt",
        url = "#",
        iconCss = "fa-solid fa-folder-closed",
    });

    menuItems.Add(new
    {
        text = "Tuyển dụng",
        separator = true,
    });

    menuItems.Add(new
    {
        text = "Hồ sơ công việc",
        url = "#",
        iconCss = "fa-solid fa-box",
    });
    menuItems.Add(new
    {
        text = "Vị trí tuyển dụng",
        url = "#",
        iconCss = "fa-solid fa-folder-closed",
    });
    menuItems.Add(new
    {
        text = "Ứng viên",
        iconCss = "fa-solid fa-arrow-right-arrow-left",
        url = "#"
    });
    menuItems.Add(new
    {
        text = "Tìm kiếm tài năng",
        iconCss = "fa-solid fa-arrow-right-arrow-left",
        url = "#"
    });
    menuItems.Add(new
    {
        text = "Giới thiệu",
        iconCss = "fa-solid fa-arrow-right-arrow-left",
        url = "#"
    });

    menuItems.Add(new
    {
        text = "Quản lý",
        separator = true,
    });

    menuItems.Add(new
    {
        text = "Danh sách nhân sự",
        url = "#",
        iconCss = "fa-solid fa-box",
    });
    menuItems.Add(new
    {
        text = "Điều khoản tuyển dụng",
        url = "#",
        iconCss = "fa-solid fa-folder-closed",
    });
    menuItems.Add(new
    {
        text = "Thay đổi dữ liệu",
        iconCss = "fa-solid fa-arrow-right-arrow-left",
        url = "#"
    });
    menuItems.Add(new
    {
        text = "Các biện pháp kỷ luật",
        iconCss = "fa-solid fa-arrow-right-arrow-left",
        url = "#"
    });
    menuItems.Add(new
    {
        text = "Tai nạn lao động",
        iconCss = "fa-solid fa-arrow-right-arrow-left",
        url = "#"
    });

    menuItems.Add(new
    {
        text = "Hồ sơ bệnh án",
        url = "#",
        iconCss = "fa-solid fa-box",
    });
    menuItems.Add(new
    {
        text = "Giấy chứng nhận",
        url = "#",
        iconCss = "fa-solid fa-folder-closed",
    });
    menuItems.Add(new
    {
        text = "Bài tập quy trình",
        iconCss = "fa-solid fa-arrow-right-arrow-left",
        url = "#"
    });
    menuItems.Add(new
    {
        text = "Vị trí",
        iconCss = "fa-solid fa-arrow-right-arrow-left",
        url = "#"
    });

    menuItems.Add(new
    {
        text = "Settings",
        iconCss = "fa-solid fa-gear",
        url = "#",
        separator = true,
    });
}


<ejs-sidebar id="sidebar" width="290px" enableDock dockSize="100px"
             target=".dock-target" enableGestures="false">
    <e-content-template>

        <div class="logo-wrapper">
            <div class="app-logo">
                <img src="~/logo.png" />
            </div>
            <div class="w-100"></div>
            <i id="sidebar-toggler" class="fa-solid"></i>
        </div>

        <div class="profile-wrapper">
            <img class="profile-pic" src="~/profile.jpg" />
            <div class="titles d-flex flex-column ps-3">
                <h6 class="mb-0">Tan Kiet</h6>
                <span class="text-muted">HR Manager</span>
            </div>
        </div>

        <ejs-menu id="menu"
                  items="menuItems"
                  orientation="Vertical"
                  hamburgerMode></ejs-menu>
    </e-content-template>
</ejs-sidebar>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        dockBar = document.getElementById('sidebar').ej2_instances[0];
        document.getElementById('sidebar-toggler').onclick = function () {
            dockBar.toggle();
        };
    });

</script>